<h2>Wubba</h2>

<p>
  <strong>Question:</strong>
  <%= @question.body%>
</p>
<p><strong>Color:</strong>
<div class="color-field" style="background-color: <%= @question.color %>">

</div>
</p>

<%= render partial: "response/form" %>

<%= link_to 'Back', questions_path %>
