// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome{
    background-color: #3498DB;
    font-size: 25px;
    width: 50%;
    p{
      color: #fff;
    }
}
